// Common / base styles

body {
  font-family: "DM Sans", Sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}
