.elementor-2981 .elementor-element.elementor-element-681e1118 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	border-style: solid;
	--border-style: solid;
	border-width: 0px 0px 1px 0px;
	--border-top-width: 0px;
	--border-right-width: 0px;
	--border-bottom-width: 1px;
	--border-left-width: 0px;
	border-color: #B8B8B8;
	--border-color: #B8B8B8;
	--border-radius: 0px 0px 0px 0px;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 3vh;
	--padding-bottom: 3vh;
	--padding-left: 5vw;
	--padding-right: 5vw;
	--z-index: 1;
}

.elementor-2981 .elementor-element.elementor-element-681e1118:not(.elementor-motion-effects-element-type-background),
.elementor-2981 .elementor-element.elementor-element-681e1118>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #00000000;
}

.elementor-2981 .elementor-element.elementor-element-53955387 {
	--display: flex;
	--justify-content: center;
}

.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-2981 .elementor-element.elementor-element-53933ff3 {
	text-align: start;
}

.elementor-2981 .elementor-element.elementor-element-53933ff3 img {
	width: 81%;
}

.elementor-2981 .elementor-element.elementor-element-6237254a {
	--display: flex;
	--justify-content: center;
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-2981 .elementor-element.elementor-element-30533133 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-2981 .elementor-element.elementor-element-30533133.elementor-view-stacked .elementor-icon {
	background-color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-30533133.elementor-view-framed .elementor-icon,
.elementor-2981 .elementor-element.elementor-element-30533133.elementor-view-default .elementor-icon {
	color: #292929;
	border-color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-30533133.elementor-view-framed .elementor-icon,
.elementor-2981 .elementor-element.elementor-element-30533133.elementor-view-default .elementor-icon svg {
	fill: #292929;
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-text);
	fill: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-accent);
	fill: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
	border-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu {
	--e-nav-menu-divider-color: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee.elementor-element {
	--align-self: flex-end;
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-menu-toggle {
	margin: 0 auto;
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu .elementor-item {
	font-family: "DM Sans", Sans-serif;
	font-size: 0.98vw;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.25px;
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu--main .elementor-item {
	color: #4E4E4E;
	fill: #4E4E4E;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu--main .elementor-item:hover,
.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu--main .elementor-item:focus {
	color: #1CA5AA;
	fill: #1CA5AA;
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: #1CA5AA;
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee .e--pointer-framed .elementor-item:before,
.elementor-2981 .elementor-element.elementor-element-1cf940ee .e--pointer-framed .elementor-item:after {
	border-color: #1CA5AA;
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee {
	--e-nav-menu-horizontal-menu-item-margin: calc(55px / 2);
}

.elementor-2981 .elementor-element.elementor-element-1cf940ee .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 55px;
}

.elementor-2981 .elementor-element.elementor-element-5f4073d {
	--display: flex;
}

.elementor-2981 .elementor-element.elementor-element-110765d {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	border-style: solid;
	--border-style: solid;
	border-width: 0px 0px 1px 0px;
	--border-top-width: 0px;
	--border-right-width: 0px;
	--border-bottom-width: 1px;
	--border-left-width: 0px;
	border-color: #FFFFFF52;
	--border-color: #FFFFFF52;
	--border-radius: 0px 0px 0px 0px;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 3vh;
	--padding-bottom: 3vh;
	--padding-left: 5vw;
	--padding-right: 5vw;
	--z-index: 1;
}

.elementor-2981 .elementor-element.elementor-element-110765d:not(.elementor-motion-effects-element-type-background),
.elementor-2981 .elementor-element.elementor-element-110765d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #00000000;
}

.elementor-2981 .elementor-element.elementor-element-4ddabd30 {
	--display: flex;
	--justify-content: center;
}

.elementor-2981 .elementor-element.elementor-element-532001cb {
	text-align: start;
}

.elementor-2981 .elementor-element.elementor-element-532001cb img {
	width: 81%;
}

.elementor-2981 .elementor-element.elementor-element-205305e3 {
	--display: flex;
	--justify-content: center;
}

.elementor-2981 .elementor-element.elementor-element-31feab8f .elementor-icon-wrapper {
	text-align: center;
}

.elementor-2981 .elementor-element.elementor-element-31feab8f.elementor-view-stacked .elementor-icon {
	background-color: #FFFFFF;
}

.elementor-2981 .elementor-element.elementor-element-31feab8f.elementor-view-framed .elementor-icon,
.elementor-2981 .elementor-element.elementor-element-31feab8f.elementor-view-default .elementor-icon {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.elementor-2981 .elementor-element.elementor-element-31feab8f.elementor-view-framed .elementor-icon,
.elementor-2981 .elementor-element.elementor-element-31feab8f.elementor-view-default .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-2981 .elementor-element.elementor-element-b8b0173.elementor-element {
	--align-self: flex-end;
}

.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-menu-toggle {
	margin: 0 auto;
}

.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu .elementor-item {
	font-family: "DM Sans", Sans-serif;
	font-size: 0.98vw;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.25px;
}

.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu--main .elementor-item {
	color: #FFFFFF;
	fill: #FFFFFF;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu--main .elementor-item:hover,
.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu--main .elementor-item:focus {
	color: #FFFFFF;
	fill: #FFFFFF;
}

.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: #FFFFFF;
}

.elementor-2981 .elementor-element.elementor-element-b8b0173 .e--pointer-framed .elementor-item:before,
.elementor-2981 .elementor-element.elementor-element-b8b0173 .e--pointer-framed .elementor-item:after {
	border-color: #FFFFFF;
}

.elementor-2981 .elementor-element.elementor-element-b8b0173 {
	--e-nav-menu-horizontal-menu-item-margin: calc(55px / 2);
}

.elementor-2981 .elementor-element.elementor-element-b8b0173 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 55px;
}

.elementor-2981 .elementor-element.elementor-element-63fc4d0f {
	--display: flex;
	--min-height: 100vh;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--overlay-opacity: 0.79;
	--margin-top: -17vh;
	--margin-bottom: 0;
	--margin-left: 0;
	--margin-right: 0;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-left: 5vw;
	--padding-right: 5vw;
}

.elementor-2981 .elementor-element.elementor-element-63fc4d0f:not(.elementor-motion-effects-element-type-background),
.elementor-2981 .elementor-element.elementor-element-63fc4d0f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("/assets/img/sba-home-1.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2981 .elementor-element.elementor-element-63fc4d0f::before,
.elementor-2981 .elementor-element.elementor-element-63fc4d0f>.elementor-background-video-container::before,
.elementor-2981 .elementor-element.elementor-element-63fc4d0f>.e-con-inner>.elementor-background-video-container::before,
.elementor-2981 .elementor-element.elementor-element-63fc4d0f>.elementor-background-slideshow::before,
.elementor-2981 .elementor-element.elementor-element-63fc4d0f>.e-con-inner>.elementor-background-slideshow::before,
.elementor-2981 .elementor-element.elementor-element-63fc4d0f>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-color: transparent;
	--background-overlay: '';
	background-image: linear-gradient(180deg, #1CA5AA 19%, #090909 71%);
}

.elementor-2981 .elementor-element.elementor-element-1fdb89c8 {
	--display: flex;
	--justify-content: flex-end;
}

.elementor-widget-heading .elementor-heading-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-primary);
}

.elementor-2981 .elementor-element.elementor-element-3eb5b1ec {
	width: var(--container-widget-width, 85%);
	max-width: 85%;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0 0 12vh 0;
	--container-widget-width: 85%;
	--container-widget-flex-grow: 0;
	border-style: none;
	border-radius: 0px 0px 0px 0px;
}

.elementor-2981 .elementor-element.elementor-element-3eb5b1ec .elementor-heading-title {
	font-family: "DM Sans", Sans-serif;
	font-size: 4vw;
	font-weight: 600;
	line-height: 0.95em;
	letter-spacing: -1.5px;
	color: #FFFFFF;
}

.elementor-2981 .elementor-element.elementor-element-7bb9cd5d {
	--display: flex;
	--min-height: 0px;
	--justify-content: flex-end;
	border-style: solid;
	--border-style: solid;
	border-width: 0px 0px 0px 1px;
	--border-top-width: 0px;
	--border-right-width: 0px;
	--border-bottom-width: 0px;
	--border-left-width: 1px;
	border-color: #FFFFFF52;
	--border-color: #FFFFFF52;
	--margin-top: 17vh;
	--margin-bottom: 0;
	--margin-left: 0;
	--margin-right: 0;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-62e51f4b {
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0 0 10vh 0;
	text-align: end;
}

.elementor-2981 .elementor-element.elementor-element-62e51f4b img {
	width: 70%;
}

.elementor-2981 .elementor-element.elementor-element-7bd8484d {
	--display: flex;
	--min-height: 95vh;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--overlay-opacity: 0.7;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-left: 5vw;
	--padding-right: 5vw;
}

.elementor-2981 .elementor-element.elementor-element-7bd8484d:not(.elementor-motion-effects-element-type-background),
.elementor-2981 .elementor-element.elementor-element-7bd8484d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("/assets/img/square-bg.png");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-2981 .elementor-element.elementor-element-7bd8484d::before,
.elementor-2981 .elementor-element.elementor-element-7bd8484d>.elementor-background-video-container::before,
.elementor-2981 .elementor-element.elementor-element-7bd8484d>.e-con-inner>.elementor-background-video-container::before,
.elementor-2981 .elementor-element.elementor-element-7bd8484d>.elementor-background-slideshow::before,
.elementor-2981 .elementor-element.elementor-element-7bd8484d>.e-con-inner>.elementor-background-slideshow::before,
.elementor-2981 .elementor-element.elementor-element-7bd8484d>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-color: #FFFFFF;
	--background-overlay: '';
}

.elementor-2981 .elementor-element.elementor-element-44bb29da {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-471c92f5 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 15vh;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
	border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
	color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-2981 .elementor-element.elementor-element-72e34409 .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-2981 .elementor-element.elementor-element-72e34409 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-2981 .elementor-element.elementor-element-72e34409 {
	--e-icon-list-icon-size: 25px;
	--icon-vertical-offset: 0px;
}

.elementor-2981 .elementor-element.elementor-element-72e34409 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2981 .elementor-element.elementor-element-72e34409 .elementor-icon-list-item>a {
	font-family: "DM Sans", Sans-serif;
	font-size: 1.05vw;
	font-weight: 700;
	text-transform: uppercase;
}

.elementor-2981 .elementor-element.elementor-element-72e34409 .elementor-icon-list-text {
	transition: color 0.3s;
}

.elementor-2981 .elementor-element.elementor-element-5bc462af {
	--display: flex;
	--align-items: flex-start;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 25vh;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-2981 .elementor-element.elementor-element-2535cad6 {
	width: var(--container-widget-width, 92%);
	max-width: 92%;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 0px 0px 0px;
	--container-widget-width: 92%;
	--container-widget-flex-grow: 0;
	text-align: start;
}

.elementor-2981 .elementor-element.elementor-element-2535cad6.elementor-element {
	--align-self: flex-start;
}

.elementor-2981 .elementor-element.elementor-element-2535cad6 img {
	width: 100%;
}

.elementor-2981 .elementor-element.elementor-element-444064c9 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-cdc72e0 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 15vh;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-widget-text-editor {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-2981 .elementor-element.elementor-element-18eef8ff {
	width: var(--container-widget-width, 95%);
	max-width: 95%;
	--container-widget-width: 95%;
	--container-widget-flex-grow: 0;
	font-family: "DM Sans", Sans-serif;
	font-size: 2vw;
	font-weight: 600;
	line-height: 1em;
	letter-spacing: -0.8px;
	color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-1a82a8ae {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 10vh;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-2981 .elementor-element.elementor-element-cd3d8e3 {
	text-align: end;
}

.elementor-2981 .elementor-element.elementor-element-cd3d8e3 img {
	width: 71%;
}

.elementor-2981 .elementor-element.elementor-element-5ca7e8a6 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 3vh;
	--padding-bottom: 0;
	--padding-left: 11.7vw;
	--padding-right: 0;
}

.elementor-2981 .elementor-element.elementor-element-1095c6f5 {
	width: var(--container-widget-width, 100%);
	max-width: 100%;
	--container-widget-width: 100%;
	--container-widget-flex-grow: 0;
	font-family: "DM Sans", Sans-serif;
	font-size: 1.01vw;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: -0.25px;
	color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-1095c6f5.elementor-element {
	--align-self: center;
}

.elementor-widget-button .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-2981 .elementor-element.elementor-element-628e1eb7 .elementor-button {
	background-color: #1CA5AA;
	font-family: "DM Sans", Sans-serif;
	font-size: 0.85vw;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	border-radius: 67px 67px 67px 067px;
	padding: 14px 50px 14px 50px;
}

.elementor-2981 .elementor-element.elementor-element-628e1eb7 .elementor-button:hover,
.elementor-2981 .elementor-element.elementor-element-628e1eb7 .elementor-button:focus {
	background-color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-70823f06 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-left: 5vw;
	--padding-right: 5vw;
}

.elementor-widget-divider {
	--divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
	color: var(--e-global-color-secondary);
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
	color: var(--e-global-color-secondary);
	border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-secondary);
}

.elementor-2981 .elementor-element.elementor-element-29967e47 {
	--divider-border-style: solid;
	--divider-color: #C2C6C6;
	--divider-border-width: 1px;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 12vh 0 10vh 0;
}

.elementor-2981 .elementor-element.elementor-element-29967e47 .elementor-divider-separator {
	width: 100%;
}

.elementor-2981 .elementor-element.elementor-element-29967e47 .elementor-divider {
	padding-block-start: 2px;
	padding-block-end: 2px;
}

.elementor-2981 .elementor-element.elementor-element-31e3def1 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-left: 5vw;
	--padding-right: 5vw;
}

.elementor-2981 .elementor-element.elementor-element-40009133 {
	width: var(--container-widget-width, 45%);
	max-width: 45%;
	--container-widget-width: 45%;
	--container-widget-flex-grow: 0;
}

.elementor-2981 .elementor-element.elementor-element-40009133 .elementor-heading-title {
	font-family: "DM Sans", Sans-serif;
	font-size: 3.1vw;
	font-weight: 600;
	letter-spacing: -2.5px;
	color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-69c55547 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 10vh;
	--padding-bottom: 2vh;
	--padding-left: 0vw;
	--padding-right: 0vw;
}

.elementor-2981 .elementor-element.elementor-element-5cefe43d {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-8801da4 {
	--e-image-carousel-slides-to-show: 3;
}

.elementor-2981 .elementor-element.elementor-element-8801da4 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-2981 .elementor-element.elementor-element-8801da4 .elementor-swiper-button.elementor-swiper-button-next {
	font-size: 35px;
}

.elementor-2981 .elementor-element.elementor-element-8801da4 .elementor-image-carousel-caption {
	text-align: start;
	font-family: "DM Sans", Sans-serif;
	font-size: 1.7vw;
	font-weight: 600;
	font-style: normal;
	letter-spacing: -0.5px;
}

.elementor-2981 .elementor-element.elementor-element-54ead9d3 {
	--display: flex;
	--min-height: 90vh;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-54ead9d3:not(.elementor-motion-effects-element-type-background),
.elementor-2981 .elementor-element.elementor-element-54ead9d3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("/assets/img/sba-advisors-banner.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

.elementor-2981 .elementor-element.elementor-element-1c75ece5 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-53e4562a {
	--display: flex;
	--justify-content: center;
	--align-items: center;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-2981 .elementor-element.elementor-element-22d94228 .elementor-button {
	background-color: #292929;
	font-family: "DM Sans", Sans-serif;
	font-size: 0.85vw;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	border-radius: 67px 67px 67px 067px;
	padding: 14px 50px 14px 50px;
}

.elementor-2981 .elementor-element.elementor-element-22d94228 .elementor-button:hover,
.elementor-2981 .elementor-element.elementor-element-22d94228 .elementor-button:focus {
	background-color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-22d94228 {
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 50vh 0 0 0;
}

.elementor-2981 .elementor-element.elementor-element-553b5c65 {
	--display: flex;
	--min-height: 95vh;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--overlay-opacity: 0.7;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 5vh;
	--padding-bottom: 0;
	--padding-left: 5vw;
	--padding-right: 5vw;
}

.elementor-2981 .elementor-element.elementor-element-553b5c65::before,
.elementor-2981 .elementor-element.elementor-element-553b5c65>.elementor-background-video-container::before,
.elementor-2981 .elementor-element.elementor-element-553b5c65>.e-con-inner>.elementor-background-video-container::before,
.elementor-2981 .elementor-element.elementor-element-553b5c65>.elementor-background-slideshow::before,
.elementor-2981 .elementor-element.elementor-element-553b5c65>.e-con-inner>.elementor-background-slideshow::before,
.elementor-2981 .elementor-element.elementor-element-553b5c65>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-color: #FFFFFF;
	--background-overlay: '';
}

.elementor-2981 .elementor-element.elementor-element-6f7c6207 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-6f7c6207.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-2981 .elementor-element.elementor-element-3a6e2bd3 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 15vh;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-2981 .elementor-element.elementor-element-347c7fbd {
	width: var(--container-widget-width, 68%);
	max-width: 68%;
	--container-widget-width: 68%;
	--container-widget-flex-grow: 0;
	font-family: "DM Sans", Sans-serif;
	font-size: 1.5vw;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: -0.25px;
	color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-347c7fbd.elementor-element {
	--align-self: flex-start;
}

.elementor-2981 .elementor-element.elementor-element-4ebc0f78 {
	--display: flex;
	--align-items: flex-start;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 12.25vh;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-2981 .elementor-element.elementor-element-5f89854d {
	width: var(--container-widget-width, 92%);
	max-width: 92%;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 0px 0px 0px;
	--container-widget-width: 92%;
	--container-widget-flex-grow: 0;
	text-align: start;
}

.elementor-2981 .elementor-element.elementor-element-5f89854d.elementor-element {
	--align-self: flex-start;
}

.elementor-2981 .elementor-element.elementor-element-5f89854d img {
	width: 100%;
}

.elementor-2981 .elementor-element.elementor-element-41a7cbaa {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-4aaeae1b {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 15vh;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-2981 .elementor-element.elementor-element-7f561713 {
	width: var(--container-widget-width, 89%);
	max-width: 89%;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0 0 0 2vw;
	--container-widget-width: 89%;
	--container-widget-flex-grow: 0;
	font-family: "DM Sans", Sans-serif;
	font-size: 3.1vw;
	font-weight: 600;
	line-height: 1em;
	letter-spacing: -2.5px;
	color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-6d983117 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 6.15vh;
	--padding-bottom: 0;
	--padding-left: 0;
	--padding-right: 0;
}

.elementor-2981 .elementor-element.elementor-element-15df45bd {
	text-align: end;
}

.elementor-2981 .elementor-element.elementor-element-15df45bd img {
	width: 96%;
}

.elementor-2981 .elementor-element.elementor-element-4163c936 {
	--display: flex;
	--min-height: 80vh;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	--flex-wrap: wrap;
	--overlay-opacity: 0.66;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 8vh;
	--padding-bottom: 0;
	--padding-left: 5vw;
	--padding-right: 5vw;
}

.elementor-2981 .elementor-element.elementor-element-4163c936:not(.elementor-motion-effects-element-type-background),
.elementor-2981 .elementor-element.elementor-element-4163c936>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("/assets/img/S-bg.png");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 85% auto;
}

.elementor-2981 .elementor-element.elementor-element-4163c936::before,
.elementor-2981 .elementor-element.elementor-element-4163c936>.elementor-background-video-container::before,
.elementor-2981 .elementor-element.elementor-element-4163c936>.e-con-inner>.elementor-background-video-container::before,
.elementor-2981 .elementor-element.elementor-element-4163c936>.elementor-background-slideshow::before,
.elementor-2981 .elementor-element.elementor-element-4163c936>.e-con-inner>.elementor-background-slideshow::before,
.elementor-2981 .elementor-element.elementor-element-4163c936>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-color: #FFFFFF;
	--background-overlay: '';
}

.elementor-2981 .elementor-element.elementor-element-4226003e {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
}

.elementor-2981 .elementor-element.elementor-element-584c4b43 {
	width: var(--container-widget-width, 50%);
	max-width: 50%;
	--container-widget-width: 50%;
	--container-widget-flex-grow: 0;
	font-family: "DM Sans", Sans-serif;
	font-size: 3.25vw;
	font-weight: 600;
	line-height: 1em;
	letter-spacing: -2.5px;
	color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-52c96685 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-3ffb375b {
	width: var(--container-widget-width, 75%);
	max-width: 75%;
	padding: 0 0 5vh 0;
	--container-widget-width: 75%;
	--container-widget-flex-grow: 0;
	font-family: "DM Sans", Sans-serif;
	font-size: 1.01vw;
	font-weight: 400;
	line-height: 1.25em;
	letter-spacing: -0.25px;
	color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-3ffb375b.elementor-element {
	--align-self: flex-start;
}

.elementor-2981 .elementor-element.elementor-element-de98244 .elementor-button {
	background-color: #1CA5AA;
	font-family: "DM Sans", Sans-serif;
	font-size: 0.85vw;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	border-radius: 67px 67px 67px 067px;
	padding: 14px 50px 14px 50px;
}

.elementor-2981 .elementor-element.elementor-element-de98244 .elementor-button:hover,
.elementor-2981 .elementor-element.elementor-element-de98244 .elementor-button:focus {
	background-color: #292929;
}

.elementor-2981 .elementor-element.elementor-element-10725ebb {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-3a62062a {
	--display: flex;
}

.elementor-2981 .elementor-element.elementor-element-557877ec {
	--display: flex;
}

.elementor-2981 .elementor-element.elementor-element-5877b5ed {
	--display: flex;
}

.elementor-2981 .elementor-element.elementor-element-2371bd35 {
	--display: flex;
}

.elementor-2981 .elementor-element.elementor-element-7ad5d064 {
	--n-accordion-title-font-size: 2vw;
	width: var(--container-widget-width, 86%);
	max-width: 86%;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 0px 0px 0px;
	--container-widget-width: 86%;
	--container-widget-flex-grow: 0;
	--n-accordion-title-justify-content: space-between;
	--n-accordion-title-flex-grow: 1;
	--n-accordion-title-icon-order: initial;
	--n-accordion-item-title-space-between: 18px;
	--n-accordion-item-title-distance-from-content: 0px;
	--n-accordion-border-radius: 0px 0px 0px 0px;
	--n-accordion-icon-size: 15px;
}

.elementor-2981 .elementor-element.elementor-element-7ad5d064.elementor-element {
	--align-self: flex-end;
}

.elementor-2981 .elementor-element.elementor-element-7ad5d064>.e-n-accordion>.e-n-accordion-item>.e-n-accordion-item-title {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

.elementor-2981 .elementor-element.elementor-element-7ad5d064 {
	--n-accordion-padding: 0px 0px 0px 0px;
}

:where(.elementor-2981 .elementor-element.elementor-element-7ad5d064 > .e-n-accordion > .e-n-accordion-item > .e-n-accordion-item-title > .e-n-accordion-item-title-header)>.e-n-accordion-item-title-text {
	font-family: "DM Sans", Sans-serif;
	font-weight: 500;
	letter-spacing: -0.5px;
}

.elementor-2981 .elementor-element.elementor-element-77cffebf {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-left: 5vw;
	--padding-right: 5vw;
}

.elementor-2981 .elementor-element.elementor-element-484fb0b1 {
	--divider-border-style: solid;
	--divider-color: #C2C6C6;
	--divider-border-width: 1px;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 12vh 0 15vh 0;
}

.elementor-2981 .elementor-element.elementor-element-484fb0b1 .elementor-divider-separator {
	width: 100%;
}

.elementor-2981 .elementor-element.elementor-element-484fb0b1 .elementor-divider {
	padding-block-start: 2px;
	padding-block-end: 2px;
}

.elementor-2981 .elementor-element.elementor-element-4a40fe40 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-left: 5vw;
	--padding-right: 5vw;
}

.elementor-2981 .elementor-element.elementor-element-76b701b7 {
	--display: flex;
	--border-radius: 0px 0px 80px 0px;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-2981 .elementor-element.elementor-element-76b701b7:not(.elementor-motion-effects-element-type-background),
.elementor-2981 .elementor-element.elementor-element-76b701b7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #DADADA;
}

.elementor-2981 .elementor-element.elementor-element-15516a76 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

:root {
	--page-title-display: none;
}

@media(min-width:768px) {
	.elementor-2981 .elementor-element.elementor-element-53955387 {
		--width: 32%;
	}

	.elementor-2981 .elementor-element.elementor-element-4ddabd30 {
		--width: 32%;
	}

	.elementor-2981 .elementor-element.elementor-element-7bb9cd5d {
		--width: 64%;
	}

	.elementor-2981 .elementor-element.elementor-element-444064c9 {
		--width: 86%;
	}

	.elementor-2981 .elementor-element.elementor-element-6f7c6207 {
		--width: 42.604%;
	}

	.elementor-2981 .elementor-element.elementor-element-3a6e2bd3 {
		--width: 100%;
	}

	.elementor-2981 .elementor-element.elementor-element-4ebc0f78 {
		--width: 100%;
	}

	.elementor-2981 .elementor-element.elementor-element-41a7cbaa {
		--width: 86%;
	}

	.elementor-2981 .elementor-element.elementor-element-4aaeae1b {
		--width: 91%;
	}

	.elementor-2981 .elementor-element.elementor-element-4226003e {
		--width: 100%;
	}

	.elementor-2981 .elementor-element.elementor-element-52c96685 {
		--width: 42%;
	}

	.elementor-2981 .elementor-element.elementor-element-10725ebb {
		--width: 58%;
	}
}

@media(max-width:767px) {
	.elementor-2981 .elementor-element.elementor-element-681e1118 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 2.5vh;
		--padding-bottom: 2.5vh;
		--padding-left: 5vw;
		--padding-right: 5vw;
	}

	.elementor-2981 .elementor-element.elementor-element-53955387 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 15px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-2981 .elementor-element.elementor-element-53933ff3 {
		width: var(--container-widget-width, 65%);
		max-width: 65%;
		margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
		padding: 0px 0px 0px 0px;
		--container-widget-width: 65%;
		--container-widget-flex-grow: 0;
	}

	.elementor-2981 .elementor-element.elementor-element-53933ff3 img {
		width: 100%;
	}

	.elementor-2981 .elementor-element.elementor-element-6237254a {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-2981 .elementor-element.elementor-element-30533133 {
		width: var(--container-widget-width, 9%);
		max-width: 9%;
		margin: -78px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
		padding: 0px 0px 0px 0px;
		--container-widget-width: 9%;
		--container-widget-flex-grow: 0;
	}

	.elementor-2981 .elementor-element.elementor-element-30533133.elementor-element {
		--align-self: flex-end;
	}

	.elementor-2981 .elementor-element.elementor-element-30533133 .elementor-icon-wrapper {
		text-align: end;
	}

	.elementor-2981 .elementor-element.elementor-element-30533133 .elementor-icon {
		font-size: 28px;
	}

	.elementor-2981 .elementor-element.elementor-element-30533133 .elementor-icon svg {
		height: 28px;
	}

	.elementor-2981 .elementor-element.elementor-element-110765d {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 2.5vh;
		--padding-bottom: 2.5vh;
		--padding-left: 5vw;
		--padding-right: 5vw;
	}

	.elementor-2981 .elementor-element.elementor-element-4ddabd30 {
		--align-items: flex-start;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 15px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-2981 .elementor-element.elementor-element-532001cb {
		width: var(--container-widget-width, 65%);
		max-width: 65%;
		margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
		padding: 0px 0px 0px 0px;
		--container-widget-width: 65%;
		--container-widget-flex-grow: 0;
	}

	.elementor-2981 .elementor-element.elementor-element-532001cb img {
		width: 100%;
	}

	.elementor-2981 .elementor-element.elementor-element-205305e3 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-2981 .elementor-element.elementor-element-31feab8f {
		width: var(--container-widget-width, 9%);
		max-width: 9%;
		margin: -78px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
		padding: 0px 0px 0px 0px;
		--container-widget-width: 9%;
		--container-widget-flex-grow: 0;
	}

	.elementor-2981 .elementor-element.elementor-element-31feab8f.elementor-element {
		--align-self: flex-end;
	}

	.elementor-2981 .elementor-element.elementor-element-31feab8f .elementor-icon-wrapper {
		text-align: end;
	}

	.elementor-2981 .elementor-element.elementor-element-31feab8f .elementor-icon {
		font-size: 28px;
	}

	.elementor-2981 .elementor-element.elementor-element-31feab8f .elementor-icon svg {
		height: 28px;
	}
}

/* Start custom CSS for image-carousel, class: .elementor-element-8801da4 */
.elementor-2981 .elementor-element.elementor-element-8801da4 .elementor-image-carousel-caption {
	position: absolute;
	top: 40px;
	/* Adjust top spacing */
	left: 35px;
	/* Adjust left spacing */
	background-color: rgba(0, 0, 0, 0);
	/* Optional: background for better visibility */
	color: white;
	/* Text color */
	padding: 5px;
	/* Optional: padding around the text */
	z-index: 10;
	/* Ensure caption is above the image */
}

.elementor-2981 .elementor-element.elementor-element-8801da4 .swiper-slide-inner {
	position: relative;
	/* Ensure the caption is positioned relative to the slide */
}



.elementor-2981 .elementor-element.elementor-element-8801da4 .elementor-image-carousel-caption {
	border-bottom: 0.1px solid white;
	width: 88%;
	padding-bottom: 5px;
	/* Optional: adds some space between the text and the line */
}

/* End custom CSS */