#about-page .elementor-element-9393d59{
    border: transparent !important;
}
#about-page .elementor-element-256a5aa3{
    display: none;
}
#about-page .elementor-element-70096bc0{
background: linear-gradient(
    180deg,
    #0E5F63 0%,
    #1CA5AA 35%,
    #6EDDDC 70%,
    #F1F3F4 100%
  );
}
#about-page .welcome-text{
    color:#017f83;
}
#about-page .elementor-513 .elementor-element.elementor-element-22fbf7e4{
    width: 100%;
}

#about-page .about-us{
    background-color: #EBEFF3;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        padding-right: 150px !important;
}
#about-page .elementor-element-1fe8a27d p{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0px;
    font-size: 18px;
}
.about-new{
    position: relative;
    left: 4%;
}
.about-new img{
    position: absolute;
    left: -100px;
    top: 35px;
    height: 80% !important;
}
.about-old-card{
    background: #F1F3F4;
    padding: 30px 0;
} 
.about-old-card .about-card{
    height: 165px;
    background: rgb(0,128,128);
background: linear-gradient(159deg, rgba(0,128,128,1) 0%, rgba(0,153,144,1) 100%);
color:white;
border-radius: 30px;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.flip-card {
  background: white;
    border-radius: 30px;
  width: 100%;
  height: 165px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  border-radius: 30px;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  
 background-color: transparent;

}
.flip-card-front i{
    font-size: 36px;
}
.flip-card-front p{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.flip-card-back {
  height: 165px;
  transform: rotateY(180deg);
}
.flip-card-back p{
    color:black;
    padding: 35px 10px;
}