---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "header";
@import "footer";

.content {
  width: 45rem;
  margin: 0 auto;
}