---
layout: default
title: "FAQ - Success Business Advisors"
---
{% include header.html header_theme='dark' %}

<div class="faq_page">
  <div class="faq_page__banner">
    <div class="faq_page__banner-content">
      <p class="faq_page__banner-title">Core Value that Drive US</p>
    </div>
    <img src="/assets/img/sba_home_1.jpg" alt="" class="faq_page__banner-img" width="1920" height="600" />
  </div>
  <div class="faq_page__inner">
    <div class="faq_page__inner-content">
      <h2 class="faq_page__title">Frequently Asked Questions (FAQs)</h2>

      <div class="faq_page__accordion" id="faqAccordion">
        {% for item in site.data.faq %}
        <div class="faq_page__item">
          <button class="faq_page__trigger" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse-{{ forloop.index }}" aria-expanded="false" aria-controls="faq-collapse-{{ forloop.index }}">
            <span>{{ item.question }}</span>
            <i class="bi bi-chevron-down faq_page__icon" aria-hidden="true"></i>
          </button>
          <div id="faq-collapse-{{ forloop.index }}" class="faq_page__panel collapse" data-bs-parent="#faqAccordion">
            <div class="faq_page__body">{{ item.answer }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
